

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
html{

    background: url("../assets/spacebackground1.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    min-height: 100%;
    position: relative;
}

body {
    background-color: transparent;
    margin-bottom: 71px;
}

a {
    cursor: pointer;
}

.view-container {
    padding-top: 50px;
}

#bottom {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 71px;
}

.pagecontainer{
    margin-top: 80px;
    opacity: 0.9;
}

.formLabel{
    font-size: 13px;
}

.infoNote{
    font-size: 11px;
}

.fb-button {
    margin-left: 50px;
}

#game {
    min-width: 1120px;
    min-height: 600px;
    border:10px solid #3e444c;
    border-radius: 4px;
}

.profileImage{
    border:10px solid dimgrey;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0 0 25px #000;
}

.profileImage:focus, .profileImage:hover{
    border:10px solid #3e444c;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0 0 25px #fff;
}

/*ChatPanel*/

#chatBody{
    height: 279px;
    font-size: 12px;
    overflow-y: auto;

}
#chatBody .chatLine{
    word-wrap: break-word;
}

/*Find Players*/
.findPlayerImg{
    width: 40px;
    height: 40px;
}

.foundPlayersTable{
    max-height: 250px;
    overflow-y: auto;
}
.alignRight{
    text-align: right;
}

#gameChat{
    min-width: 1120px;
    min-height: 250px;
}

#notificationBar {
    margin-right: 10px;
}

#notificationBar span {
    margin-right: 8px;
}

.notificationIconClicked {
    box-shadow: 0 0 25px #000;
}

.notificationIcon:hover {
    cursor: pointer;
    color: #ffffff;
}

.badge {
    background: red;
    margin-bottom: 20px;
    position: absolute;
    top: -8px;
    z-index: 1;
    font-size: 10px;
}

.badge-message {
    left: 55px;
}

.badge-invite {
    left: 15px;
}















