<div class="container pagecontainer">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="panel panel-default">
                <div class="panel-body">
                    <form class="form-horizontal" role="form" name="gameForm">
                        <div class="form-group">
                            <label for="gameName" class="col-sm-3 control-label formLabel">{{'NAME' | translate}}:
                                *</label>

                            <div class="col-sm-8">
                                <input type="text" class="form-control" id="gameName"
                                       placeholder="Name of game" name="gameName" ng-model="gameData.gameName"
                                       required="true">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="searchCriteria" class="col-sm-3 control-label formLabel">{{'SEARCH_BY' |
                                translate}}:</label>

                            <div class="col-sm-8" id="searchCriteria">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-primary" ng-model="searchCriteria" btn-radio="'email'">Email</button>
                                    <button type="button" class="btn btn-primary" ng-model="searchCriteria" btn-radio="'username'">{{'USERNAME' | translate}}</button>
                                    <button type="button" class="btn btn-primary" ng-model="searchCriteria" btn-radio="'facebook'" ng-click="findFbfriends()">Facebook</button>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="opponent" class="col-sm-3 control-label formLabel">{{'OPPONENT' | translate}}
                                </label>

                            <div class="col-md-8" id="opponent">
                                <div class="input-group">
                                    <input type="text" class="form-control" name="txtSearchString" ng-model="searchString">
                                    <span class="input-group-btn">
                                        <button class="btn btn-info" name="btnFind" type="button" ng-click="findPlayers(searchString)" ng-disabled="gameForm.gameName.$error.required">{{'FIND' | translate}}</button>
                                        <button type="submit" class="btn btn-warning" name="createGame" ng-click="selectRandomPlayer()" ng-disabled="gameForm.gameName.$error.required"><i class="fa fa-share"></i> {{'RANDOM' | translate}}</button>
                                    </span>
                                </div>
                            </div>
                            <div class="col-sm-offset-3 col-md-12 infoNote">
                                * {{'REQUIRED' | translate}}
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-12 foundPlayersTable">
                                <table class="table table-hover table-condensed">
                                    <tr ng-repeat="p in foundPlayers" ng-hide="hideFoundPlayer(p.profile.profileId)">
                                        <td><img class="findPlayerImg" ng-src="{{getUserImage(p.profile.image)}}"></td>
                                        <td>{{p.username}}</td>
                                        <td class="alignRight">
                                            <button type="submit" class="btn btn-warning" name="btnInvite"
                                                    ng-click="createGame(p.profile.profileId)"><i
                                                    class="fa fa-share"></i> {{'INVITE' |
                                                translate}}
                                            </button>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>

</div>