<div class="container pagecontainer">

    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="panel panel-default">
                <div class="panel-body">
                    <form class="form-horizontal" role="form" name="gameForm">
                        <div class="form-group">
                            <label for="gameName" class="col-sm-3 control-label formLabel">{{'NAME' | translate}}:
                                *</label>

                            <div class="col-sm-8">
                                <input type="text" id="gameName" class="form-control"
                                       placeholder="{{'GAMENAMEPLACEHOLDER' | translate}}"
                                       name="gameName" ng-pattern="/^[a-z0-9A-Z]+$/" ng-model="gameData.gameName"
                                       required="true">

                                <span ng-show="gameForm.gameName.$error.pattern" class="label label-danger">{{'INVALID_GAMENAME' | translate}}</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="searchCriteria" class="col-sm-3 control-label formLabel">{{'SEARCH_BY' |
                                translate}}:</label>

                            <div class="col-sm-8" id="searchCriteria">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-primary" ng-model="searchCriteria"
                                            btn-radio="'email'">Email
                                    </button>
                                    <button type="button" class="btn btn-primary" ng-model="searchCriteria"
                                            btn-radio="'username'" name="btnUserNameRadio">{{'USERNAME' | translate}}
                                    </button>
                                    <button type="button" class="btn btn-primary" ng-model="searchCriteria"
                                            btn-radio="'facebook'" ng-click="findFbfriends()">Facebook
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="opponent" class="col-sm-3 control-label formLabel">{{'OPPONENT' | translate}}
                            </label>

                            <div class="col-md-8" id="opponent">
                                <div class="input-group">
                                    <input type="text" class="form-control" name="txtSearchString"
                                           ng-model="searchString" ng-hide="searchCriteria =='email'">
                                    <input type="text" class="form-control" name="searchStringEmail"
                                           ng-model="searchStringEmail" ng-show="searchCriteria =='email'"
                                           ng-pattern="/^[a-z0-9A-Z._]+@[a-zA-Z0-9.-]+\.[a-zA-Z0-9]{2,6}$/">
                                    <span class="input-group-btn">
                                        <button ng-hide="searchCriteria =='email'" class="btn btn-info" name="btnFind"
                                                type="button"
                                                ng-click="findPlayers(searchString)"
                                                ng-disabled="gameForm.gameName.$error.required || gameForm.gameName.$error.pattern">
                                            {{'FIND' | translate}}
                                        </button>
                                        <button ng-show="searchCriteria =='email'" class="btn btn-info" name="btnFind"
                                                type="button"
                                                ng-click="findPlayers(searchStringEmail)"
                                                ng-disabled="gameForm.gameName.$error.required || gameForm.gameName.$error.pattern || gameForm.searchStringEmail.$error.pattern">
                                            {{'FIND' | translate}}
                                        </button>
                                        <button type="submit" class="btn btn-warning" name="createGame" data-toggle="modal"
                                                data-target="#myModal" ng-click="selectRandomPlayer()"
                                                ng-disabled="gameForm.gameName.$error.required || gameForm.gameName.$error.pattern">
                                            <i class="fa fa-share"></i> {{'RANDOM' | translate}}
                                        </button>
                                    </span>
                                </div>
                            </div>
                            <div class="col-sm-offset-3 col-md-12 infoNote">
                                * {{'REQUIRED' | translate}}
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-12 foundPlayersTable">
                                <table class="table table-hover table-condensed">
                                    <tr ng-repeat="p in foundPlayers" ng-hide="hideFoundPlayer(p.profile.profileId)">
                                        <td><img class="findPlayerImg" ng-src="{{getUserImage(p.profile.image)}}"></td>
                                        <td>{{p.username}}</td>
                                        <td class="alignRight">
                                            <button type="submit" class="btn btn-warning" name="btnInvite" data-toggle="modal"
                                                    data-target="#myModal" ng-click="createGame(p.profile.profileId,p.username)"><i
                                                    class="fa fa-share"></i> {{'INVITE' |
                                                translate}}
                                            </button>

                                        </td>
                                    </tr>
                                    <tr>
                                        <td ng-show="foundPlayers.length == 0">
                                            <span ng-show="gameForm.searchStringEmail.$error.pattern && searchCriteria =='email' && findHasCalled && !mailSent"
                                                  class="label label-warning" style="font-size: 100%">{{'OPPONENTNOTFOUNDNOTVALIDEMAIL' | translate}}</span>
                                            <span ng-show="searchCriteria =='email' && !gameForm.searchStringEmail.$error.pattern && findHasCalled && !mailSent"
                                                  class="label label-warning" style="font-size: 100%">{{'OPPONENTNOTFOUNDVALIDEMAIL' | translate}}</span>
                                            <span ng-show="mailSent" ng-disabled="!mailSent"
                                                  class="label label-info" style="font-size: 100%">{{'MAILSENT' | translate}} {{searchStringEmail}}</span>
                                        </td>
                                        <td ng-show="foundPlayers.length == 0 && searchCriteria =='email' && !gameForm.searchStringEmail.$error.pattern && findHasCalled && !mailSent">
                                            <button class="btn-default" ng-click="sendMail(searchStringEmail)">
                                                {{'MAILOPPONENT' |
                                                translate}}
                                            </button>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>

</div>
<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">{{'INVITE' | translate}}</h4>
            </div>
            <div class="modal-body">
                {{'INVITEHASSEND' | translate}}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="go('spacecrack/activegames')">{{'GOTOACTIVEGAMES' | translate}}</button>
            </div>
        </div>
    </div>
</div>