<div class="container pagecontainer">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-user"></i> {{'EDIT_PROFILE' | translate}}
                </div>
                <div class="panel-body">
                    <accordion close-others="true">
                        <accordion-group heading="{{'PROFILE' | translate}}" is-open="true">
                            <form name="profileForm" class="form-horizontal" role="form"
                                  ng-submit="editContact(uploadedImage.resized)"
                                  novalidate>
                                <div class="row">
                                    <div class="col-md-4" style="width: 180px; height:160px;">

                                        <input id="uploadImageInput"
                                               type="file"
                                               title="Upload Image"
                                               accept="image/*"
                                               image="uploadedImage"
                                               resize-max-height="160"
                                               resize-max-width="160"
                                               resize-quality="0.7" style="display: none;"/>
                                        <img class="profileImage" ng-src="{{getUserImage(uploadedImage.resized)}}"
                                             width="100%" height="100%"
                                             onclick="document.getElementById('uploadImageInput').click();"/>

                                    </div>
                                    <div class="col-md-8">
                                        <div class="form-group">
                                            <label for="dateOfBirth" class="col-sm-3 control-label formLabel">{{'DATE_OF_BIRTH'
                                                |
                                                translate}}</label>

                                            <div class="col-sm-9" id="dateOfBirth" class="form-group"
                                                 ng-class="{'has-error': profileForm.date2.$invalid}">

                                                <input type="text" class="form-control" datepicker-popup="yyyy/MM/dd"
                                                       ng-model="convertedDate.value" is-open="true" max="'2015-06-22'"
                                                       datepicker-options="dateOptions" close-text="Close" name="date2"
                                                       datepicker-append-to-body="true" required="true"/>

                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="firstname" class="col-sm-3 control-label formLabel">{{'FIRSTNAME'
                                                |
                                                translate}}</label>

                                            <div class="col-sm-9">
                                                <input type="text" class="form-control" id="firstname"
                                                       placeholder="{{'FIRSTNAME' | translate}}"
                                                       ng-model="contactData.firstname">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="lastName" class="col-sm-3 control-label formLabel">{{'LASTNAME'
                                                |
                                                translate}}</label>

                                            <div class="col-sm-9">
                                                <input type="text" class="form-control" id="lastName"
                                                       placeholder="{{'LASTNAME' | translate}}"
                                                       ng-model="contactData.lastname">
                                            </div>
                                        </div>
                                        <div class="form-group" ng-show="showContactSuccesMsg()" id="contactSuccesMsg">
                                            <label for="contactSuccesMsg" class="col-sm-3 control-label"></label>

                                            <div class="col-sm-9">
                                                <div class="alert alert-success">
                                                    <strong>{{'SUCCESSFULLY_SAVED' | translate}}!</strong>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group" ng-show="showContactErrorMsg()" id="contactErrorMsg">
                                            <label for="contactErrorMsg" class="col-sm-3 control-label"></label>

                                            <div class="col-sm-9">
                                                <div class="alert alert-danger">
                                                    <strong>{{'SAVE_FAILED' | translate}}!</strong>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">

                                            <div class="col-sm-offset-3 col-sm-2">
                                                <button type="submit" class="btn btn-default"
                                                        ng-disabled="profileForm.date2.$invalid">
                                                    <i class="fa fa-save"></i> {{'SAVE' | translate}}
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>

                        </accordion-group>
                        <accordion-group heading="{{'CHANGE_PASSWORD' | translate}}">

                            <form class="form-horizontal" role="form" ng-submit="editUser()" name="registerForm"
                                  novalidate>
                                <!--<div class="form-group">-->
                                <!--<label for="old_password" class="col-sm-3 control-label formLabel">{{'OLD_PASSWORD' |-->
                                <!--translate}} *</label>-->

                                <!--<div class="col-sm-8">-->
                                <!--<input type="password" class="form-control" id="old_password"-->
                                <!--placeholder="{{'PASSWORD' | translate}}" ng-model="editUserData.password"-->
                                <!--required>-->
                                <!--</div>-->
                                <!--</div>-->
                                <div class="form-group">
                                    <label for="new_password" class="col-sm-3 control-label formLabel">{{'NEW_PASSWORD'
                                        |
                                        translate}} *</label>

                                    <div class="col-sm-8">
                                        <input type="password" class="form-control" id="new_password"
                                               placeholder="{{'NEW_PASSWORD' | translate}}"
                                               ng-model="editUserData.password"
                                               required>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="password2" class="col-sm-3 control-label formLabel">{{'REPEAT_PASSWORD'
                                        |
                                        translate}} *</label>

                                    <div class="col-sm-8">
                                        <input type="password" class="form-control" id="password2"
                                               placeholder="{{'REPEAT_PASSWORD' | translate}}"
                                               ng-model="editUserData.passwordRepeated" required>
                                        <span class="label label-danger"
                                              ng-hide="checkPassword(editUserData.passwordRepeated,editUserData.password)">{{'ERR_PASSWORD_MISMATCH' | translate}}</span>
                                    </div>
                                    <div class="col-sm-offset-3 col-md-12 infoNote">
                                        * {{'REQUIRED' | translate}}
                                    </div>
                                </div>
                                <div class="form-group" ng-show="showSuccesMsg()" id="profileSuccesMsg">
                                    <label for="profileSuccesMsg" class="col-sm-3 control-label"></label>

                                    <div class="col-sm-8" id="">
                                        <div class="alert alert-success">
                                            <strong>{{'SUCCESSFULLY_SAVED' | translate}}!</strong>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group" ng-show="showErrorMsg()" id="profileErrorMsg">
                                    <label for="profileErrorMsg" class="col-sm-3 control-label"></label>

                                    <div class="col-sm-8">
                                        <div class="alert alert-danger">
                                            <strong>{{'SAVE_FAILED' | translate}}!</strong>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-offset-3 col-sm-2">
                                        <button type="submit" id="save" name="save" class="btn btn-default"
                                                ng-disabled="validateForm()">
                                            <i class="fa fa-save"></i> {{'SAVE' | translate}}
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </accordion-group>
                    </accordion>
                </div>
            </div>
        </div>

    </div>

</div>
