<div class="container pagecontainer">
    <div class="panel panel-default">
        <div class="panel-heading">Game Info</div>
        <div class="panel-body">
            <h4>{{'HELPOBJECTTITLE' | translate}}</h4>
<p>
           {{'HELPGAMEOBJECT' | translate}}
            <ul>
                <li>{{'HELPMOVESHIP' | translate}}</li>
                <li>{{'HELPBUILDSHIP' | translate}}</li>
                <li>{{'HELPCOMMANDPOINTCOSTS' | translate}}</li>
                <ul>
                    <li>{{'HELPMOVESHIPCOMMANDPOINTSCOST' | translate}}</li>
                    <li>{{'HELPBUILDSHIPCOMMANDPOINTSCOST' | translate}}</li>
                </ul>
                <li>{{'HELPCOLONIZEANDCOLONIZECOST' | translate}}</li>
            </ul>
            </p>
            <h4>{{'MOVES' | translate}}</h4>
            <p>
                {{'HELPMOVESHIPSTORIES' | translate}}
            <ul>
                <li>{{'HELPTAKEOVERCLEANPLANET' | translate}}</li>
                <li>{{'HELPACTIVEPLAYERSHIPONPLANET' | translate}}.</li>
                </li>
                <li>{{'HELPOPPONENTSTRONGERPLAYERSHIPONPLANET' | translate}}</li>
                <li>{{'HELPOPPONENTWEAKERPLAYERSHIPONPLANET' | translate}}
                </li>
                <li>{{'HELPATTACKSAMESTRENGTH' | translate}}
                </li>
            </ul>
            {{'HELPWHENTOUSECOMMANDPOINTS' | translate}}
            </p>

            <p>
                {{'HELPWINCONDITION' | translate }}
            </p>
        </div>
    </div>
</div>