<div class="container pagecontainer">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">

            <div class="panel panel-default">
                <div class="panel-heading">
                    <ul id="myTab" class="nav nav-tabs">
                        <li class="active" ><a href="/"><i class="fa fa-sign-in"></i> {{'LOGIN' | translate}}</a></li>
                        <li><a name="lnkRegister" href="#/spacecrack/register"><i class="fa fa-pencil "></i> {{'REGISTER' | translate}}</a></li>
                    </ul>
                </div>
                <div class="panel-body">
                    <form class="form-horizontal" role="form" ng-submit="login()" name="loginForm">
                        <div class="alert alert-info"><strong>Test User: email: "test@gmail.com" - password: "test"</strong></div>

                        <div class="form-group">
                            <label for="uname" class="col-sm-3 control-label formLabel">Email *</label>

                            <div class="col-sm-8">
                                <input type="text" class="form-control" id="uname"
                                       placeholder="Email" name="uname" ng-model="loginData.email" required="true">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="password" class="col-sm-3 control-label formLabel">{{'PASSWORD' | translate}} *</label>

                            <div class="col-sm-8">
                                <input type="password" class="form-control" id="password"
                                       placeholder="{{'PASSWORD' | translate}}" ng-model="loginData.password" required="true" name="password">
                                <span class="label label-danger" ></span>
                            </div>
                            <div class="col-sm-offset-3 col-md-12 infoNote">
                                * {{'REQUIRED' | translate}}
                            </div>
                        </div>
                        <div class="form-group" ng-show="hasLoginFailed">
                            <label for="password" class="col-sm-3 control-label"></label>

                            <div class="col-sm-8">
                                <div class="alert alert-danger" name="loginfailed" >
                                    <strong>{{'ERR_LOGIN_FAILED' | translate}}!</strong>
                                </div>
                            </div>
                        </div>
                        <div class="form-group" ng-show="alreadyRegistered">
                            <label for="password" class="col-sm-3 control-label"></label>

                            <div class="col-sm-8">
                                <div class="alert alert-danger" name="loginfailed" >
                                    <strong>{{'ERR_ALREADY_REGISTERED' | translate}}!</strong>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-offset-3 col-sm-2">
                                <button type="submit" class="btn btn-default" name="login" ng-disabled="validateLogin()"><i class="fa fa-sign-in"></i> {{'LOGIN' |
                                    translate}}
                                </button>
                            </div>
                            <span class="col-sm-2">
                                <button type="button" class="btn btn-default fb-button" ng-click="fbLogin()"><i class="fa fa-facebook-square"></i> Facebook</button>
                                <!--<fb:login-button show-faces="true" width="200" max-rows="1"></fb:login-button>-->
                            </span>
                        </div>

                    </form>
                </div>
            </div>
        </div>

    </div>

</div>