<div class="container pagecontainer">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
                <a href="#/spacecrack/createGame" name="createGame" class="btn btn-primary btn-lg btn-block" role="button">{{'NEWGAME' | translate}}</a>
        </div>
    </div>
    <div class="row row-spacing">
        <div class="col-md-4 col-md-offset-4">
                <a href="#/spacecrack/activegames" name="activegames" class="btn btn-primary btn-lg btn-block" role="button">{{'ACTIVEGAMES' | translate}}</a>
        </div>
    </div>
    <div class="row row-spacing">
        <div class="col-md-4 col-md-offset-4">
            <a href="#/spacecrack/matchhistory" name="matchhistory" class="btn btn-primary btn-lg btn-block" role="button" disabled="disabled">{{'MATCHHISTORY' | translate}}</a>
        </div>
     </div>
    <div class="row row-spacing">
        <div class="col-md-4 col-md-offset-4">
            <a href="#/spacecrack/account" name="account" class="btn btn-primary btn-lg btn-block" role="button" disabled="disabled">{{'ACCOUNT' | translate}}</a>
        </div>
    </div>
</div>