<div class="container pagecontainer">
    <div class="panel-body">
        <h1>{{'STATISTICS' | translate}}</h1>
        <div class="row">
            <div class="col-md-4" style="width: 180px; height:160px;">
                <label>Win ratio</label>
            </div>
            <div class="col-md-4" style="width: 180px; height:160px;">
                {{statistics.winRatio}}
            </div>
        </div>
        <div class="row">
            <div class="col-md-4" style="width: 180px; height:160px;">
                <label>Amount of games</label>
            </div>
            <div class="col-md-4" style="width: 180px; height:160px;">
                {{statistics.amountOfGames}}
            </div>
        </div>
        <div class="row">
            <div class="col-md-4" style="width: 180px; height:160px;">
                <label>Average amount of colonies per win</label>
            </div>
            <div class="col-md-4" style="width: 180px; height:160px;">
                {{statistics.averageAmountOfColoniesPerWin}}
            </div>
        </div>
        <div class="row">
            <div class="col-md-4" style="width: 180px; height:160px;">
                <label>Average amount of ships per win</label>
            </div>
            <div class="col-md-4" style="width: 180px; height:160px;">
                {{statistics.averageAmountOfShipsPerWin}}
            </div>
        </div>
    </div>
</div>