<div class="container pagecontainer">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h1 style="text-align: center; margin-top: 100px; margin-bottom: -100px">{{'STATISTICS' | translate}}</h1>
                    <div class="panel-body">
                        <canvas id="myChart" width="600" height="600" style="width:1000; height:1000; "></canvas>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>